<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
  <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.8.6.0" />
    </DbProviderFactories>
  </system.data>
  
  <connectionStrings>
    <add name="SQLCONN" connectionString="Server=localhost;Port=3306;Database=levelspro;Uid=root;Pwd=root;" />
    <add name="LevelsproCS" connectionString="Server=localhost;Port=3306;Database=levelspro;Uid=root;Pwd=root;" />
    <!--add name="SQLCONN" connectionString="Server=23.23.166.66;Port=3106;Database=levelspro;Uid=root;Pwd=dps123!@#;" /!-->
    <!--add name="LevelsproCS" connectionString="server=23.23.166.66;user id=root;password=dps123!@#;port=3106;database=levelspro"
      providerName="MySql.Data.MySqlClient" /!-->
  </connectionStrings>

  <log4net debug="true">
    
    <appender name="ErrorAppender" type="log4net.Appender.RollingFileAppender">
      <file value="..\..\LogFiles\LevesPro\Log.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <maxSizeRollBackups value="-1" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%level - %d - [Source = %logger]-  %message%newline " />
      </layout>
    </appender>

   
    <root>
      <level value="DEBUG" />
      <appender-ref ref="ErrorAppender" />
      <!--<appender-ref ref="DebugAppender" />-->
    </root>
  </log4net>
  
  
  <appSettings>
    <add key="log4net.Internal.Debug" value="true" />
    <!--<add key="FacebookAppID" value="384460171664774"/>-->
    <add key="FacebookAppID" value="122341164602773"/>
    <add key="FacebookAppSecretID" value="e8a193c802c4a01988a1b6cc62c28b94"/>
    <add key="FacebookScope" value="publish_stream,manage_pages"/>
    <add key="SMTPSERVER" value="192.168.100.22"/>
    <add key="SMTPFROM" value="ahmed.hassan@d-p-s.com"/>

    <!-- Twitter sign-up: https://dev.twitter.com/apps -->
    <add key="twitterConsumerKey" value="PmGyanRLbTRXpq6MhdRRWw" />
    <add key="twitterConsumerSecret" value="wXtjU5ociWGckA8l2URg6lciH7tzlqzBkDbJdUAqy3M" />
    <add key="twitterOAuthToken" value="479729874-SNRJCBsjDOaChdBiHaGXW8YqUHMJCUkFWnU7iRYZ" />
    <add key="twitterAccessToken" value="rtom36AXtaS6cmgAV3XJncXJRvrGhmbG2MPQn1s" />

    <add key="pagesize" value="15"/>
    <add key="AwardsPath" value="../Images/Awards/AwardImages/"/>
    <add key="AwardsThumbPath" value="../Images/Awards/AwardThumbnails/"/>
    <add key="RewardsPath" value="../Images/Rewards/RewardImages/"/>
    <add key="RewardsThumbPath" value="../Images/Rewards/RewardThumbnails/"/>
    <add key="PlayersPath" value="../Images/Players/PlayerImages/"/>
    <add key="PlayersThumbPath" value="../Images/Players/PlayerThumbnails/"/>
    <add key="QuizPath" value="../Images/Quiz/QuizImages/"/>
    <add key="QuizThumbPath" value="../Images/Quiz/QuizThumbnails/"/>
    <add key="MatchPath" value="../Images/Match/MatchImages/"/>
    <add key="MatchThumbPath" value="../Images/Match/MatchThumbnails/"/>
    <add key="DataSetPath" value="../Images/Match/DataSetImages/"/>
    <add key="DataSetThumbPath" value="../Images/Match/DataSetThumbNails/"/>
    <add key="RolePath" value="../Images/Role/RoleImages/"/>
    <add key="RoleThumbPath" value="../Images/Role/RoleThumbnails/"/>
    <add key="QuestionPath" value="../Images/Quiz/QuestionImages/"/>
    <add key="QuestionThumbPath" value="../Images/Quiz/QuestionThumbNails/"/>
    <add key="MainImagePath" value="../Images/"/>
    <add key="PlayerPanelImagePath" value="../PlayerPanel/Images/"/>
    <add key="ManagerPanelImagePath" value="../ManagerPanel/Images/"/>
    <add key="AdminPanelImagePath" value="../AdminPanel/Images/"/>
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <!--<customErrors mode="On"
         defaultRedirect="../ErrorPages/ErrorPage404.aspx">
      <error statusCode="404" redirect="../ErrorPages/DefaultErrorPage.aspx"/>
    </customErrors>-->
    <!--<authentication mode="Forms">
      <forms loginUrl="~/Index.aspx" timeout="20"/> --><!--defaultUrl="~/PlayerPanel/PlayerHome.aspx"--><!--
    </authentication>-->
    <sessionState timeout="60"></sessionState>
    <!--<membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices"
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
             applicationName="/"/>
      </providers>
    </membership>

    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>

    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
      </providers>
    </roleManager>-->
   <!--<globalization culture="fr-FR" uiCulture="fr-FR" requestEncoding="utf-8" responseEncoding="utf-8"/>
    <globalization culture="en-US" uiCulture="en-US" requestEncoding="utf-8" responseEncoding="utf-8"/>-->
    <globalization  fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8"  />
  </system.web>
  
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="textWriterTraceListener"
           type="System.Diagnostics.TextWriterTraceListener"
           initializeData="G:\\TestProjlog4net.txt" />
      </listeners>
    </trace>
  </system.diagnostics>
  
  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
      <staticContent>
          <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
          <mimeMap fileExtension=".m4v" mimeType="video/m4v" />
          <mimeMap fileExtension=".ogg" mimeType="video/ogg" />
          <mimeMap fileExtension=".ogv" mimeType="video/ogg" />
          <mimeMap fileExtension=".webm" mimeType="video/webm" />

          <mimeMap fileExtension=".oga" mimeType="audio/ogg" />
          <mimeMap fileExtension=".spx" mimeType="audio/ogg" />

          <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
          <mimeMap fileExtension=".svgz" mimeType="image/svg+xml" />

          <remove fileExtension=".eot" />
          <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
          <mimeMap fileExtension=".otf" mimeType="font/otf" />
          <mimeMap fileExtension=".woff" mimeType="font/x-woff" />
      </staticContent>
  </system.webServer>
</configuration>
